RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

Options -Indexes

<FilesMatch "^(config\.php|config\.example\.php)$">
  Require all denied
</FilesMatch>
